@model Application.Models.Request
@{
    ViewBag.Title = "Подача заявки";
}
@helper AddPosition(int count)
{
    using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        for (int i = 0; i < count; i++ )
        {
            <h3>Позиция:</h3>
            <div class="form-group">
            <label>Список:</label>
            @Html.DropDownListFor(x => x.SubjId, ViewBag.SelItems as SelectList);
            </div>
            <div class="form-group">
            <label>Количество:</label>

            @Html.TextBoxFor(x=>x.Quantity)
            </div>
            <div class="form-group">
            <label>Комментарий:</label>
            @Html.TextBoxFor(x=>x.Description);
        </div>
        }
        <div class="text-center">
            <input class="btn btn-success" type="submit" value="Оставить заявку" />
        </div>
    }
    using(Html.BeginForm("AddPosition", "Subject", FormMethod.Post))
    {
        @Html.HiddenFor(x=>x.Count)
        <div class="text-center">
            <input class="btn btn-success" type="submit" value="Добавить еще одну позицию к заявке" />
        </div>
    }
}
<h2>Подача заявки</h2>
<div class="panel-body">
    @AddPosition(Model.Count)
</div>    


