@model IEnumerable<Application.Models.Request>
    @{
        ViewBag.Title = "Index";
    }

    <h2>Заявки:</h2>

    @foreach (var m in Model)
    {
        <div>Заявка:</div>
        <div>@m.Id</div>
        <div>@m.Date</div>
        foreach(var i in m.Items)
        {
            <div>@i.Subject.Name</div>
            <div>Кол-во: @i.Quantity</div>
            <div>Комментарий: @i.Description</div>
        }
        
    }
