@model IEnumerable<Application.Models.Request>
    @{
        ViewBag.Title = "Index";
    }

    <h2>Заявки:</h2>
<div class="btn btn-info">@Html.ActionLink("Вернуться к созданию заявки", "../Home/Index")</div>
<div class="btn btn-info">@Html.ActionLink("Составить отчет", "../Request/Report")</div>
    @foreach (var m in Model)
    {
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading">Заявка номер: @m.Id</div>
                <div class="panel-body">Дата создания заявки: @m.Date</div>
                @using (@Html.BeginForm("ViewRequest", "Request", FormMethod.Post))
                {
                    @Html.Hidden("requestId", m.Id)
                    <div class="text-center">
                        <input class="btn btn-info" type="submit" value="Просмотреть заявку" />
                    </div>
                }
            </div>
        </div>
    }
