@model Application.Models.Report
@{
    ViewBag.Title = "Формирование отчета";
}

<h2>Формирование отчета</h2>
@using (@Html.BeginForm("CreateReport", "Request", FormMethod.Post))
{
    <label>Месяц:</label>
    @Html.DropDownList("month", ViewBag.SelItemsMon as SelectList)
    <div class="text-center">
        <input class="btn btn-info" type="submit" value="Сформировать отчет" />
    </div>
}

@if(Model != null)
{
     <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading">@Model.Date</div>
                <div class="panel-body">
                    @foreach(var m in Model.Subjects)
                    {
                        <div class="panel-group">
                            <div class="panel panel-info">
                                <div class="panel-heading">@m.Subject.Name</div>
                                <div class="panel-body">Количество: @m.Quantity</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
}

